h2 {
    color: whitesmoke;
    background-color: navy;
}
p {
    text-align: center;
}

.contact {
    background-color: rgb(195, 106, 106);
}

    
    

 
    


    
    
    
    
    
    
    
        
    
    

        
        


    
